target/test-classes/conditonalflowchoicerouter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="conditonalflowchoicerouterFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/ChoiceRouter" allowedMethods="POST" doc:name="HTTP"/>
        <set-variable variableName="conditionValue" value="#[xpath3('/CITY/Value/text()')]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.conditionValue=='MZP']">
                <set-payload value="This is #[flowVars.conditionValue]" doc:name="Set Payload"/>
            </when>
            <otherwise>
                <set-payload value="This is not MZP !" doc:name="Set Payload"/>
            </otherwise>
        </choice>
    </flow>
</mule>
